.collections{
    display: flex;
    width:100%;
}
.collectionContent{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.productList {
    display: inline-block;
    min-width: 70%;
}

.productList h2 {
    text-align: center;
}

.sideBar {
    display: block;
    min-width: 15%;
    margin-top: 70px;
    padding-left: 70px;
    margin-right:120px;
}
h2{
    color:rgb(29, 58, 81);
}
.sideBar button{
    width:100%;
    height:50px;
    text-align:start;
    background-color: white;
    border: none;
    font-size: medium;
    font-weight: 100;
    color: rgb(82, 81, 81);
}
.catogory1{
    border-bottom: 0.5px solid rgb(81, 77, 77);
}
.catogory2{
    border-bottom: 0.5px solid rgb(81, 77, 77);
}

.sideBar button:hover{
    border-left:1.3px rgb(29, 58, 81) solid;
}
.productContainer{
    display: flex;
}
@media (max-width:1250px){
    .productList .product{
        height:30%;
        width:26%;
        margin:30px;
    }
    .productList h2{
        font-size: 18px;
    }
    .productList img{
        font-size: small;
    }
    .collections .sideBar{
        padding-left: 50px;
        margin-right: 80px;
    }
}
@media (max-width:1000px){
    .productList .product{
        width:25%;
        margin:20px;
    }
    .productList h2{
        font-size: 18px;
    }
    .productList img{
        font-size: small;
        height:26%;
    }
    .collections .sideBar{
        padding-left: 20px;
        margin-right: 40px;
        min-width: 10%;
    }
}
@media (max-width:800px){
    .productList .product{
        margin-left:20px;
        width: 100%;
    }
    .productList h2{
        
    }
    .productList img{
        
    }
    .collections .sideBar{
       display: none;
    }
}
@media (max-width:500px){
    .productContainer{
        width: 100%;
        flex-direction: column;
    }
    .productList .product{
        
    }
    .productList h2{
        font-size: 28px;
    }
    .productList img{
        
    }
    .collections .sideBar{
       display: none;
    }
}


/* backgroundColor: isHovered ? 'lightblue' : 'lightgray' */